.header__lang-link {
   color: #FFFFFF;
   font-family: 'Inter', 'Arial', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   text-rendering: optimizeLegibility;
   text-decoration: none;
   align-items: center;
 
}

@media (max-width: 470px) {
   .header__lang-link {
      font-size: 18px;
      line-height: 20px;

   }
}

