@font-face {
   src: url(../../vendor/Inter/Inter-Black.woff2);
   font-family: "Inter";
   font-style: normal;
   font-weight: 900;
}

@font-face {
  src: url(../../vendor/Inter/Inter-Black.woff);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
}

@font-face {
   src: url(../../vendor/Inter/Inter-Regular.woff2);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
 }

 @font-face {
   src: url(../../vendor/Inter/Inter-Regular.woff);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
 }

 @font-face {
   src: url(../../vendor/Inter/Inter-Bold.woff);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
 }

 @font-face {
   src: url(../../vendor/Inter/Inter-Bold.woff2);
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
 }

 .page {
   background-color: #2A2C2F;
   color: #FFFFFF;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;



 }



 