.content {
  display: flex;
  flex-direction: column;
  row-gap: 92px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .content {
    row-gap: 88px;
  }
}

@media (max-width: 320px) {
  .content {
    row-gap: 64px;
  }
}
