.cover__title {
   padding-top: 0;
   width: 100%;
   font-family: "Inter", "Arial", sans-serif;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   margin: 0;
   text-align: center;
   text-decoration: none;
   color: #FFFFFF;
   
}

@media (max-width: 470px) {
   .cover__title {  
     font-size: 32px;
     line-height: 35px;
     width: 90vw;
   }  
}

