.place {
   display: grid;
   grid-template-columns: 460px 1fr;
   column-gap: 40px;
   row-gap: 48px;
   max-width: 984px;
   margin: auto;
}

@media (max-width: 1024px) {

   .place {
      grid-template-columns: 440px 1fr;
      width: 90.6vw;
      column-gap: 32px;

   }
}

@media (max-width: 768px) {
   .place {
      grid-template-columns: 340px 1fr;
      width: 93.7vw;
      column-gap: 28px;
   }
}

@media (max-width: 720px) {
   .place {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 320px) {
   .place {
      width: 100vw;
      row-gap: 32px;
   }
}