.place__description {
   display: flex;
   flex-direction: column;
   gap: 26px;

}

@media (max-width: 1024px) {
   
   .place__description {
     gap: 27px;
   }
}

@media (max-width: 768px) {
   
   .place__description {
     gap: 25px;
   }
}